* {
  box-sizing: border-box;
}

.page {
  margin: 30px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fafafa;
  background-color: #0f0f14;
}

.header__logo {
  margin-bottom: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}

.content__block {
  border: 1px solid #afb2bf;
  border-radius: 5px;
  padding: 20px;
  /* ! реализация (одна строчка) */
  aspect-ratio: 1;
}

.content__block-header {
  margin-top: 0;
}

.content__block-text {
  margin-top: 0px;
  margin-bottom: 0px;
}
