log.txt - игнорирование "конкретного" файла
*.txt - всех файлов с расширением .txt
/*.txt - игнорирование из корня приложения, а в под-папках нет

logs/ - исключение целиком/всей директории, со вложенностями (где встретится)
/logs - исключение "конкретно" из корня целиком/всей директории, со вложенностями
/logs/* - исключение только "всех" вложенных файлов (без исключения самой директории)

!/logs/demo.txt - исключаем "всё" кроме конкретного файла
