* {
  box-sizing: border-box;
}

body {
  font-size: 55px;
  font-family: "Fira Sans", sans-serif;
  color: #fafafa;
  background: #1c1b21;
}

.container {
  display: flex;
  border: 10px solid #6c38cc;
}

.item {
  /* flex: 1; */
  /* flex-basis: 300px; */
  /* flex-grow: 1; */
  border: 1px solid #6c38cc;
  padding: 10px;
  text-align: center;
  text-shadow: #fc0 1px 0 10px;
  background: #232228;
}

.item1 {
  /* flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 300px; */
  flex: 1 1 300px;
}

.item2 {
  /* flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 100px; */
  flex: 5 5 100px;
}
