.catalog {
  padding-top: 100px;
  padding-bottom: 100px;
}

.catalog__content-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.catalog__heading-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.catalog__title {
  margin-top: -24px;
}

.catalog__type-list {
  display: flex;
  align-items: center;
  gap: 14px 24px;
}
