/* fira-sans, light - 300 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/fira-sans-v17-cyrillic_latin-300.woff2') format('woff2');
}

/* fira-sans, regular - 400 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fira-sans-v17-cyrillic_latin-regular.woff2') format('woff2');
}

/* fira-sans, medium - 500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/fira-sans-v17-cyrillic_latin-500.woff2') format('woff2');
}

/* fira-sans, semi bold - 600 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/fira-sans-v17-cyrillic_latin-600.woff2') format('woff2');
}

/* fira-sans, bold - 700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/fira-sans-v17-cyrillic_latin-700.woff2') format('woff2');
}

/* fira-sans, extra bold - 800 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/fira-sans-v17-cyrillic_latin-800.woff2') format('woff2');
}
