.rating-list {
  display: flex;
  column-gap: 70px;
}

.rating__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 calc(100% / 3);
  column-gap: 24px;
  border-radius: var(--main-br-radius);
  padding: 24px;
  text-align: center;
  background: var(--bg-field);
}

.rating__score-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 6px;
}

.rating__score {
  font-size: 54px;
  line-height: var(--default-lh);
}

.rating__platform-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  row-gap: 8px;
}

.rating__logo {
  display: block;
}

.rating__stars-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 8px;
  max-width: 115px;
}

.rating__star-img {
  display: block;
  transition: transform var(--short-stars) ease;
}

/* media queries, any-hover */

@media (max-width: 1200px) {
  .rating-list {
    column-gap: 32px;
  }
}

@media (max-width: 992px) {
  .rating-list {
    flex-wrap: wrap;
    row-gap: 32px;
  }
}

@media (max-width: 768px) {
  .rating-list {
    gap: 24px;
  }

  .rating__item {
    column-gap: 16px;
  }
}

@media (max-width: 576px) {
  .rating-list {
    gap: 16px;
  }

  .rating__item {
    flex: 1 0 100%;
    padding: 16px;
  }

  .rating__score {
    font-size: 38px;
  }

  .rating__platform-wrap {
    row-gap: 6px;
  }
}

@media (any-hover: hover) {
  .rating__star-img:hover {
    transform: scale(1.5);
  }
}
