.mobile__img-wrap {
  margin-right: -24px;
}

.mobile__picture-img {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
}

.mobile__img {
  width: clamp(351px, 100%, 551px);
  /* width: 100%; */
}

/* media queries, any-hover */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

@media (min-width: 1600px) {}
