html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --primary: #0018ed;
  --mainFont: #2d2e3a;
  --greyFont: #696c74;
}

body {
  height: 1000px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f1f1f1;
}

/* single/common */

.container {
  margin: 0 auto;
  padding: 20px 15px;
  /* min-width: 1330px; */
  width: 1330px;
  min-width: 468px;
  max-width: 100%;
}

/* glob */

.flex {
  display: flex;
}

.title-reset {
  margin: 0;
}

.paragraph-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main */

.profession {
  border-radius: 10px;
  padding: 25px;
  background-color: #fff;
}

.profession__left-righ {
  flex-wrap: wrap;
  gap: 12px 0;
  border: 2px solid #d1d6e9;
  border-radius: 10px;
  padding: 30px;
}

.profession-left {
  flex-direction: column;
  /* flex-shrink: 0; */
  /* overflow-wrap: break-word; */
  margin-right: auto;
}

.profession-left__logo {
  padding-left: 80px;
  background: url("icons/logo.png") no-repeat left / 56px;
}

.profession-left__occupational--name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #2d2e3a;
}

.profession-left__teacher--name {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #696c74;
}

.profession-right__list {
  flex-wrap: wrap;
  /* gap: 12px 24px; */
  gap: 12px 64px;
}

.item-info__conditions {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #696c74;
}

.item-info__values {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #2d2e3a;
}
