.hero {
  padding-top: 150px;
  padding-bottom: 65px;
}

.hero__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content-wrap {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 440px;
}

.hero__title {
  margin-bottom: 17px;
  width: 100%;
  max-width: 285px;
}

.hero__text {
  margin-bottom: 55px;
  width: 100%;
  max-width: 425px;
  font-size: 18px;
}

.hero__form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 45px;
  width: 100%;
}

.hero__form-input {
  border: none;
  border-radius: 32px;
  padding: 10px 20px;
  width: 100%;
  max-width: 440px;
  font-family: var(--roboto);
  font-size: var(--default-fs);
  line-height: var(--default-lh);
  color: var(--black);
  background: var(--white);
  outline: 1px solid var(--gray);
  text-align: center;
  caret-color: var(--blue);
}

.hero__form-input::placeholder {
  font-size: var(--default-fs);
  color: var(--dark);
  opacity: 0.3;
}

.hero__form-input:focus-visible {
  outline: 2px solid var(--blue);
}

.hero__form-btn {
  border: none;
  border-radius: 32px;
  padding: 10px 20px;
  width: 100%;
  max-width: 440px;
  font-family: var(--roboto);
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--white);
  background-color: var(--bg-btn);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.hero__form-btn:focus-visible {
  outline: 2px solid var(--black);
}

.hero__form-text {
  margin-top: -4px;
  font-size: 14px;
  line-height: 20px;
}

.hero__users-wrap {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  max-width: 440px;
}

.hero__users-quantity {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.hero__users-companies-list {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  column-gap: 20px
}

.hero__users-companies-logo {
  display: block;
}

.hero__img-wrap {
  flex-shrink: 0;
  border-radius: 5px;
  width: 604px;
  font-size: 18px;
  text-align: center;
  background-color: var(--light-gray);
  overflow: hidden;
}

.hero__img {
  display: block
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .hero__form-btn:hover:not(:active) {
    background-color: var(--gray);
  }
}
