.trust {
  padding-top: 118px;
  padding-bottom: 80px;
  background-color: var(--bg-trust-section);
}

.trust__content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trust__title {
  align-self: center;
  max-width: 530px;
  font-weight: var(--medium);
  line-height: 55px;
  text-align: center;
}

.trust__sale-link {
  align-self: center;
  margin-bottom: 30px;
  border-bottom: 1px solid currentColor;
  padding: 2px 6px;
  font-size: 18px;
  color: var(--black);
  outline: none;
  transition-property: border-color, color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.trust__sale-link:focus-visible:not(:hover) {
  color: var(--blue);
}

.trust__sale-link:active {
  color: var(--gray);
}

.trust__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 26px;
}

.trust__item {
  flex-shrink: 0;
  flex-basis: calc(100% / 3);
  padding: 10px;
  padding-top: 80px;
  max-width: 348px;
  min-height: 255px;
  text-align: center;
}

.trust__item-icon {
  margin-bottom: 25px;
}

.trust__item-text {
  font-size: 18px;
}


/* media queries, any-hover */

@media (any-hover: hover) {
  .trust__sale-link:hover:not(:active) {
    color: var(--blue);
  }
}
