.workflow {
  padding-top: 65px;
  padding-bottom: 25px;
}

.workflow__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workflow__content-wrap {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 454px;
}

.workflow__title {
  margin-bottom: 19px;
  width: 100%;
  max-width: 436px;
}

.workflow__text {
  margin-bottom: 39px;
  width: 100%;
  max-width: 436px;
  font-size: 18px;
  color: var(--opacity-black);
}

.workflow__more-link {
  align-self: start;
  border-bottom: 1px solid currentColor;
  padding: 2px 2px;
  font-size: 18px;
  color: var(--blue);
  outline: none;
  transition-property: border-color, color, background-color;
  transition-duration: var(--short);
  transition-timing-function: ease;
}

.workflow__more-link:focus-visible:not(:hover) {
  color: var(--black);
  background-color: var(--yellow);
}

.workflow__more-link:active {
  color: var(--black);
}

.workflow__img-wrap {
  flex-shrink: 0;
  border-radius: 5px;
  width: 550px;
  font-size: 18px;
  text-align: center;
  background-color: var(--light-gray);
  overflow: hidden;

}

.workflow__img {
  display: block
}

/* media queries, any-hover */

@media (any-hover: hover) {
  .workflow__more-link:hover:not(:active) {
    color: var(--gray);
  }
}
