.main {
  margin: 0 auto;
  border-radius: 10px;
  padding: 48px;
  max-width: 793px;
  min-height: 580px;
  background-color: var(--bg-form);
}

.main__header {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: var(--regular);
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}
