h2 {
  color: lightslategray;
}

.todo-item {
  font-size: 18px;
  cursor: pointer;
  transition: color .2s ease-in-out;
  will-change: color;
}

.todo-item:hover {
  font-size: 18px;
  color: lightslategray;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
