* {
  box-sizing: border-box;
}

.page {
  margin: 30px;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fafafa;
  background-color: #0f0f14;
}

.header__logo {
  margin-bottom: 20px;
  text-align: center;
}

.main__block {
  display: inline-block;
  border: 1px solid #afb2bf;
  border-radius: 5px;
  padding: 15px;
  max-width: 1000px;
}

.flip {
  cursor: help;
  /* ! реализация (начало) */
  transform: scaleX(-1);
  transition: transform 0.5s ease-in-out;
}

.flip:hover {
  /* ! реализация (продолжение) */
  transform: scaleX(1);
}

.main__block-header {
  margin-top: 0;
}

.main__block-text {
  margin-top: 0px;
  margin-bottom: 0px;
}
