* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  border: 10px solid #6c38cc;
  color: #fafafa;
  background: #1c1b21;
}

.item {
  border: 1px solid #6c38cc;
  padding: 10px;
  width: calc(100% / 3); /* интересное решение */
  font-size: 28px;
  text-align: center;
  text-shadow: #fc0 1px 0 10px;
  background: #232228;
}
